.gradient {
  width: 100vw;
  height: 100vh;
  
  z-index: -1;
  position: fixed;
  top: 0;
  background-image: var(--gradient-fade), var(--gradient-1), var(--gradient-3), var(--gradient-5), var(--gradient-6);
  mask-image: var(--mask-set);
  -webkit-mask-image: var(--mask-set);
  animation: 15s mask-move infinite alternate ease-in-out;
}

@keyframes mask-move {
  50% {
    transform: scale(2, 1.2) translate(0, 15vh)
  }
  100% {
    transform: scale(1.2, .5) translate(0, -20vh);
  }
}