.color-1:hover {
  color: #f69d3c;
  transition: color 0.2s ease-in-out;
}

.color-2:hover {
  color: #17EE87;
  transition: color 0.2s ease-in-out;
}

.color-3:hover {
  color: #17B4EE;
  transition: color 0.2s ease-in-out;
}

.color-4:hover {
  color: #E781A9;
  transition: color 0.2s ease-in-out;
}

.color-5:hover {
  color: #b74cf1;
  transition: color 0.2s ease-in-out;
}

.color-1:not(:hover) {
  transition-delay: 2s;
  transition: color 3s ease-in-out;
}

.color-2:not(:hover) {
  transition-delay: 2s;
  transition: color 3s ease-in-out;
}

.color-3:not(:hover) {
  transition-delay: 2s;
  transition: color 3s ease-in-out;
}

.color-4:not(:hover) {
  transition-delay: 2s;
  transition: color 3s ease-in-out;
}

.color-5:not(:hover) {
  transition-delay: 2s;
  transition: color 3s ease-in-out;
}